/* css for all html pages */

.seatImg{
    width: 10vh;
}

.halfOffset{
    width: 5vh;
}

html, body {
    height: 100%;
    width: 90%;
}

body {
    display: table-cell;

    /* vertical-align: middle; */
    margin: auto;

}

html {
    display: table;
    margin-left: 50px;
    margin-right: 50px;
    background-image: linear-gradient(darkblue, lightblue);
}
p, h1, h2, h3{
  color: black;
  font-family: cambria, Helvetica, sans-serif;
}
p, h3{
  text-align: center;
}
h1{
  font-size: 80px;
}

button{
  background-color: red;
}

img{
  width: 50%;
}

#table1{
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    text-align: center;
}

#talk{
  margin: 50px;
}

#tab{
  padding: 50px;
}

#wrap, #room{
  margin: auto;
  text-align: center;

}
